<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ingreso al sistema</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'login/css/style.css' %}">
{% load crispy_forms_tags %}
<body class="body-login">
    <div class="container">

        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card border border-dark rounded">
                    <div class="card-body body-card">
                        <h1 class="h2-login">Login</h1>
                        <h5 class="h2-login">Segurito</h5>
                        <hr>
                        <form action="" method ="post">
                            {% csrf_token%}
                            {{ form | crispy}}
                            <input type="submit" value="Ingresar" class="btn btn-success" align="center">
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>

</body>
</html>