body{
    font-family: Docker, monospace, georgia, times;
    color: #333;
    font-size: 1.3rem;
    line-height: 1.4em;
    margin: 0;

}
.h2-login{
    font-weight: bold;
}
.body-card{
    background-color: #AEB6BF;
}
.body-login{
    background-color: #EBEDEF;
}

p{
    margin-bottom: 1.6em;
}

.contenedor {
    width: 90%;
    max-width: 850px;
    margin: 0 auto;

}

.contenedor h1{
    line-height: 1.3em;
}

.card-body h2,h4,h1,h3,h5 {
text-align: center;

}

.header{
    background-color:#041c23;
    color: cornsilk;
    position: static; /* posicion fija del header */
    left: 0;        /*define la posicion en que este*/
    top: 0;
    width: 100%; /* ocupe en ancho completo */
}
    .header a{
        float: left;
        color: white;
        text-decoration: none;
        font-size: 1rem;
    }

    .header img{
      float: left;
       width: 303px; height: 115px;
    }

.completo{
    display: contents;
    justify-content: space-between;
    align-items: center;

}

.completo img{
    float:inherit;

}


.navegacion ul{
    margin: 0 ;
    padding: 0;
    list-style: none;
}

.navegacion ul li {
    display: inline-block;
    padding: 0px 20px;
}

.navegacion ul li a{
    display: block;
    padding: 14px 16px;
    transition: all 0.3s ease 0s;
    border-radius: 20px;
}
.navegacion ul li a:hover {
    background-color: grey;
 }

.main {
    padding-top:10rem;
}




/*CARRUSEL*/

.carrusel{
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
}

.carrusel__contenedor {
    position: relative;
}

.carrusel__anterior,
.carrusel__siguiente {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: none;
    color: #041c24;
    opacity: 20%;
}
.carrusel__anterior:hover,
.carrusel__siguiente:hover {
    opacity: 100%;
}

.carrusel__anterior {
    left: -30px;
}

.carrusel__siguiente {
    right: -30px;
}

.carrusel__lista {
    overflow: hidden;
}

.carrusel__elemento {
    text-align: center;
}

.carrusel__indicadores .glider-dot {
    display: block;
    width: 30px;
    height: 4px;
    background: #fff;
    opacity: .2;
    border-radius: 0;
}

.carrusel__indicadores .glider-dot:hover {
    opacity: .5;
}

.carrusel__indicadores .glider-dot.active {
    opacity: 1;
}

/* Galeria */

.galeria {
  padding-top: 20rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:30px;


}

.galeria img {
  width: 100%;
  height: 200px;
  object-fit: cover;

}

/* quienes somos */

.liga{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;

}

.video{

    position: fixed;
    border: none;
    top: calc(16% );
    left: 0;

}

.footer {
    background-color: #041c24;
    padding:inherit;
    text-align: center;
    margin-top: 6rem;
    color: white;
    position:fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   /*background-image: url('fondo.jpg');*/
}
form {

    width: auto;


    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-color:#041c23;
    color: cornsilk;


}
button {
    display: inline-block;
    color: #252537;

    width: 280px;
    height: 50px;

    padding: 0 20px;
    background: #fff;
    border-radius: 5px;

    outline: none;
    border: none;

    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;

    margin: 7% auto;
    letter-spacing: 0.05em;
}

label {
  /*padding: 12px 12px 12px 0;*/
  width: 100%;
  display: inline-block;
}

input[type=text], select, input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  outline: none;

}

.input-field{
    margin-left: 15px;
    border: 0;

    padding: 10px;
}

.input-field:focus{
    border:3px solid #efb810;
}

.botonAceptar{
    margin-bottom: 0;
    background : #efb810;
    border: none;
    margin-left: 15px;
    margin-top: 10px;
}
.botonAceptar:hover{

    background : red;

}


a:link {
  color: purple;
}

/* visited link */
a:visited {
  color: purple;
}


/* selected link */
a:active {
  color: blue;
}


